@import '../../node_modules/bootstrap/scss/bootstrap-flex.scss';
@import './font-awesome/font-awesome.scss';
@import './toggle-button.scss';

.hidden {
  display: none;
}

.station-list {
  list-style: none;

  li {
    text-decoration: none;
  }

  li.active {
    list-style-type: circle;
  }
}

.strong {
  font-weight: bold !important;
}

.flex-row {
  display: flex;
  flex-direction: row !important;
}

.flex-row.flex-right {
  justify-content: flex-end !important;
}

.flex-row.flex-left {
  justify-content: flex-start !important;
}

.flex-center {
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}