@import '../../node_modules/bootstrap/scss/bootstrap-flex.scss';
@import './font-awesome/font-awesome.scss';

.hidden {
  display: none;
}

.station-list {
  list-style: none;

  li {
    text-decoration: none;
  }

  li.active {
    list-style-type: circle;
  }
}

.strong {
  font-weight: bold;
}